body {
  text-align: center;
  font-family: Helvetica;
}

.hero{
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png')
}

.hero h1{
  font-style: bold;
  font-size: 70px;
  color: white;
}
.hero h2{
    font-size: 23px;
    font-style: bold;
    color: white;
}
.hero a{
  font-size: 14px;
  color: white;
}

.hero2 h2{
  font-size: 32px;
  font-style: bold;
}

.hero2 h3{
  font-size: 23px;
  font-style: bold;
}

.hero2 p{
  font-size: 14px;
}

.footer{
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
  color: white;
}
